<div>
  <a class="inline-block items-center justify-center px-8 py-2 text-sm font-semibold rounded-md" style="color: #ffffff; background-color: #262626;" href="<%= url %>" target="_blank">
    <%= text %>
  </a>
</div>
