
<% @page_title = "Open desktop app - Campsite" %>

<main class="flex items-center justify-center w-full h-screen p-4 bg-neutral-50 dark:bg-neutral-900">
  <div class="flex flex-col items-center justify-center w-full max-w-sm gap-4 p-8">
    <img
      alt="App icon for Campsite desktop app"
      src="<%= asset_path('/desktop-app-icon.png') %>"
      class="w-36 h-36"
    />
    
    <div class="flex flex-col items-center justify-center gap-1 pb-2">
      <p class="text-lg font-bold text-center dark:text-white">Opening in the desktop app...</p>
    </div>
    
    <div class="flex flex-col items-center w-full gap-2">
      <a href="<%= @user.desktop_auth_url %>" class="btn btn-primary js-auth-desktop-app">Open desktop app</a>
      <a href="<%= Campsite.base_app_url %>" class="w-full btn">Open app in browser</a>
      <a href="mailto:support@campsite.com" class="w-full btn">Get help</a>
    </div>
  </div>
</main>