<div class="mb-4">
  <%= render 'mailers/components/avatar', avatar_url: "https://campsite.imgix.net/static/mailer-footer-logo.png", href: "https://campsite.com/", name: "Campsite", size: 40 %>
</div>

<div class="mb-6">
  Your password was successfully changed.
</div>

<%= render 'mailers/components/cta_button', url: Campsite.base_app_url, text: "Open Campsite" %>

<div class="pt-6 text-sm text-secondary">
  If you did not make this change, please reach out to <a href="mailto:support@campsite.com" target="_blank">support@campsite.com</a>
</div>

<div class="pt-6">
  <div class="separator" />
</div>
