<div class="mb-4">
  <%= render 'mailers/components/avatar', avatar_url: "https://campsite.imgix.net/static/mailer-footer-logo.png", href: "https://campsite.com/", name: "Campsite", size: 40 %>
</div>

<div class="mb-6">
  You requested a new password for your Campsite account.
</div>

<%= render 'mailers/components/cta_button', url: edit_password_url(@resource, reset_password_token: @token), text: "Reset password" %>

<div class="pt-6 text-sm text-secondary">
  If you didn't request this, please ignore this email.
</div>

<div class="pt-4 text-sm text-secondary">
  Your password won't change until you click on the button above and choose a new one.
</div>

<div class="pt-6">
  <div class="separator" />
</div>
